.datepicker{z-index:1151 !important;}

.select2-selection, .datepicker  {
    border-radius: 0px !important;
    border-color: #d2d6de !important;
}

.select2-selection {
    min-height: 33px !important;
}

.datepicker  {
    

}
.table-grid {

}
.table-grid thead tr{
    background: #efefef;
    color: #000000;
    font-weight: 100 !important;
    font-size: 16px;
}

.table-grid thead tr th{
    border-top: solid 1px #b3b3b3;
    border: solid 1px #cecece;  
    font-weight: 100;
}

table.dataTable thead th, table.dataTable thead td {
    border: solid 1px #b3b3b3 !important;
}

table.dataTable.no-footer {
    border-bottom: solid 1px #f4f4f4;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #f1f1f1;
}


.margin-bottom5 {margin-bottom: 5px !important;} 
.margin-bottom10 {margin-bottom: 10px !important;} 

.select2-selection__choice {
    background: #dadada !important;
    color: #000 !important;
}

.edtProdActive {
    background: #ffd656 !important;
    color: #9c3535;
    font-weight: bold;
}

.gridCancelado {
        background: #ffd7d7 !important;
}


.modal {
    /*background: rgba(255, 255, 255, 0.73) !important;*/
}


input[type=text] {
        box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
}
.easy-autocomplete input {
    border-color: #d2d6de;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
    color: #555;
    float: none;
    padding: 6px 12px;
}

.nav-success li.active {
    border-top-color: #da4242 !important;
    font-weight: bold;
    

}

.nav-success li a{
    
}

.nav-success li.active a{
    font-weight: bold !important;
    color: #d04b4b !important;
}

.btn-noradius {
    border-radius: 0px;
}

.block-buttons {
    padding: 10px;
    background: #f1f1f1;
    padding: 10px;
    background: #f1f1f1;
    margin-bottom: 25px;    
}


.div-foto {
    
}
.foto-aluno {
    display: block;
    min-width: 150px;
    width: 100%;
    border: 7px solid #fff;
    box-shadow: rgba(0,0,0,.1) 3px 3px 15px;
    max-height: 240px;
    max-width: 160px;
    margin: 0 auto;
    min-height: 165px;
}

.form {
    background: #fff;
    padding: 15px 10px;
    border: 1px solid #DDD;
    border-radius: 4px;
    display: inline-block;
    width: 100%;
    
}

.form-item {
    margin-bottom: 15px;
}

.bottom10 {
    margin-bottom: 10px;
}

.page-title {
        margin: 0;
    border-bottom: solid 1px;
    height: 38px;
    /* font-weight: bold; */
    color: #797979;
}

.ficha_title {
        margin-left: 5px;
    font-weight: 500;
}

.obg {
    color: #da4242;
    font-weight: 600;
}

.cursor {
    cursor: pointer;
}



.foto-edit {
    padding-top: 5px;
    width: 152px;
    text-align: center;
    font-size: 18px;
    color: #d02c48;
    margin: 0px auto;
}
.menu-sep {
    border-bottom: solid 1px #ffffff;
    padding: 0;
    box-shadow: 1px 1px 1px #b7b7b7;
    margin: 3px 0px 3px -5px !important;
}


.btn {
    transition: all 280ms cubic-bezier(.4,0,.2,1);
}

.btn:hover {
    outline: 0;
    text-decoration: none;
    box-shadow: 1px 1px 1px rgba(0,0,0,.19), 0 4px 4px rgba(0,0,0,.23);    
}

.main-header {
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}

.box {
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);  
}

.box-header {

}
/*************************************************/
/* Linha de cima background-color: #232d32 !important;*/
.skin-red .main-header .navbar {
    background-color: #FFD700 !important;
}
/* Logo     background-color: #1a2327  !important;*/
.skin-red .main-header .logo {
    background-color: #ffd700  !important;
}

.skin-red .wrapper, .skin-red .main-sidebar, .skin-red .left-side {
    background-color: #ffffff;
}

.skin-red .sidebar-menu>li:hover>a, .skin-red .sidebar-menu>li.active>a {
    color: #fff;
    background: #e6c40a;
    border-left-color: #ffd700;
}

.skin-red .sidebar-menu>li>.treeview-menu {
    margin: 0 1px;
    background: #ffffff;
}

.skin-red .treeview-menu>li.active>a, .skin-red .treeview-menu>li>a:hover {
    color: #e6c40a;
}

.btn-default {
    background-color: #3c474c;
    color: #fff;
    border-color: #313131;
}

.box.box-primary {
    border-top-color: #242d32;
}

.menu-sep {
    /* border-bottom: solid 1px #4a4f52; */
    padding: 0;
    /* box-shadow: 1px 1px 1px #202b2f; */
    margin: 3px 0px 3px -5px !important;
}

.btn-default {
    background-color: #ffd700;
    border-color: #e6c40a;
    color: #fff;
}

.btn-default:hover, .btn-default:active, .btn-default.hover {
    background-color: #e6c40a;
    border: solid 1px #e6c40a;
}

.main-sidebar {
    /* background-color: #1a2327 !important; */
	background-color: #f9fafc !important;
}


/* 
 EVENTOS
 ************************************************** */
.palco {    
    min-width: 400px;
    width: 100%;
    border: solid 1px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px; 
}    
    .overlay, .espaco, .chair {
        border-radius: 10px;
    }
    .espaco-demo-meio {
        width: 7.5px !important; 
    }
    .lugar-demo {
        font-size: 10px;
        border-radius: 10px;
        width: 15px;
        height: 15px;
        float: left;
    }

    .assento-demo {
        background: #E1E1E1;
    }

    .lugar, .espaco {
        width: 20px;
        height: 20px;
    }

    .lugar, .espaco {
        float: left;
        margin: 1px;
        border-radius: 50px;
        text-align: center;
        line-height: 29px;
        font-size: 13px;
        font-weight: bold;
        color: #fff
    }

    .espaco-meio {
        width: 10px;
        height: 10px;
    }
    .chair {
    padding-bottom: 4px;
    width: 23px;        
    }

    .assento {
        background: #3478c1;
        cursor: pointer;
    }
    .espaco {
        
    }
    .ocupada {
        background: #ab2020 !important;
    }

    .selecionada {
        background: #20c320 !important;
    } 

    .deficiente {
        background: #d015ff;
        color: #fff;
    }

    .idoso {
        background: #ffed15;
        color: #fff;
    }

    .acompanhate {
        background: #0c94b3;
        color: #fff;
    }

    .obeso {
        background: #0dd2ff;
        color: #fff;
    }

    .reservado {
        background: #b90000;
        color: #fff;
    }




.tab-asec {
    width: 100%;
    border-bottom: solid 1px #b5adad;
    display: inline-table;
    padding-bottom: 6px;
}

.tab-titles {
    margin-bottom: 10px;
    display: table;
    border-bottom: solid 1px #a9a6a6;    
}
.tab-title {
    cursor: pointer;
    float: left;
    margin-right: 10px;
    background: #fff;
    padding: 5px;
    min-width: 100px;
    text-align: center;
}

.tab-title-active {
    font-weight: bold;
    color: green;
    background: #E1E1E1;
}

.tab-content {
    clear: both;
}

.tab-content-item {
    display: none;
}
.tab-content-item-active {
    display: block;
}



/** ####################################### */

.input-token {
    background: url(../img/dropdown.png) no-repeat right 5px center;
    background-color: #FFFFFF;
}

.btn-light {
    background-color: #fff;
    border-color: #d6d6d6;
    color: #777777;
}

.btn-light:hover {

}

.text-green {
    color: green;
}